*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nougat;
    src: url(../fonts/Nougat-ExtraBlack.ttf);
}

@font-face {
    font-family: Lilita;
    src: url(../fonts/LilitaOne-Regular.ttf);
}

body{
    font-family: Lilita;
    background-color: #FFCD00;
}

.logo{
    margin-top: 30px;
    text-align: center;
}

h1{
    font-family: Nougat;
    font-size: 4em;
    text-align: center;
    color: rgb(221,7,7);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black
}

h2{
    font-family: Nougat;
    font-size: 2.5em;
    text-align: center;
    color: rgb(221,7,7); 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black
}

h3{
    font-family: Nougat;
    font-size: 2em;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black
}

p{
    margin: 15px;
    text-align: justify;
}

.textoGaleria{
    text-align: center;
}

span{
    color: rgb(221,7,7);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}

.rareza, .clase{
    border-radius: 5px;
    border: thin;
    border-style: solid;
    border-color: rgb(221,7,7);
    display: flex;
    margin: 15px;
    padding: 15px;
}

nav{
    text-align: center;
    font-family: Nougat;
    font-size: 1.5em;
}

nav ul li{
    display: inline;
    margin-inline: 30px;
}

a{
    color: rgb(221,7,7);
    text-decoration: none;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black
}

form{
    margin: 20px;
}

footer{
    color: whitesmoke;
    margin: 35px;
    text-align: center;
}

.redes a{
    color: whitesmoke;
    padding-inline: 15px;
    
}

footer p{
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}
